body {
  font-size: 30px;
  background-color: #282a36 !important;
  color: #d0d0d0 !important;
}

#header {
  background-color: #282a36 !important;
  color: #c3d88d !important;
}


a {
  margin-left: 20px;
}
a.external {
  color: green;
}
a.internal {
  color: #7fff00;
}
a.toc {
  color: red;
}
a.totoc {
  color: red;
  filter: brightness(50%);
}
a.rule {
  color: #ff00ff;
}
a.keyword {
  color: #ffff00;
}
a.function {
  color: #ff8c00;
}
a.procedure {
  color: #00bfff;
}


code.keyword_def {
  color: #ff69b4;
}
font.rule_def {
  color: #2e8b57;
}
font.character {
  color: #d2b48c;
}

table, thead, th, tr, td {
  border: 1px solid grey;
  border-collapse: collapse;
}
